<div class="page-header">
<h1>Statuses</h1>
</div>

<% if user_signed_in? %>
<%= link_to "Post status", new_status_path, class:"btn btn-default" %>
<% end %>

<% @statuses.each do |status| %>
  <div class="status">
    <b><%= status.user.full_name %></b><br/>
    <b>Content: </b>
    <p><%= status.content %> </p>
    <div class="meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <div class="admin">
        <%= link_to "Edit", edit_status_path(status) %>
        <%= link_to "Delete", status, method: :delete, data: { confrim: "Confirm to delete?"} %>
      </div>
  </div>
  </div>
<% end %>